<!-- <div class="home-container">
    <header class="hero-section">
      <h1>Welcome to ECOM</h1>
      <p>Your one-stop shop for all your needs</p>
    </header>
    
    <section class="featured-grid">
      <div class="grid-item"> <p>Image 1 Placeholder</p> </div>
      <div class="grid-item"> <p>Image 2 Placeholder</p> </div>
      <div class="grid-item"> <p>Image 3 Placeholder</p> </div>
      <div class="grid-item"> <p>Image 4 Placeholder</p> </div>
    </section>
    
    <section class="about">
      <h2>Why Shop With Us?</h2>
      <p>We offer the best products at unbeatable prices.</p>
    </section>
  </div> -->
  <div class="home-container">
    <header class="hero-section">
      <img src="https://media.istockphoto.com/id/698788086/photo/indian-young-couple-celebrating-diwali.jpg?s=612x612&w=is&k=20&c=SsWnBjDAwm8oiQ_0Q5KxI0JSooj6NsHb5BoeYOtKHbY=" alt="Hero Image" class="hero-img">
      
    </header>
    <div class="hero-text">
        <h1>Welcome to ECOM</h1>
        <p>Your one-stop shop for all your needs</p>
      </div>
    
    <section class="featured-grid">
      <div class="grid-item">
        <img src="https://images.pexels.com/photos/6311397/pexels-photo-6311397.jpeg?auto=compress&cs=tinysrgb&w=700
        " alt="Image 1">
        <p class="boldtext">Clothing</p>
      </div>
      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?w=700&auto=format&fit=crop&q=60
        " alt="Image 2">
        <p class="boldtext" >Electronics</p>
      </div>
      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?w=700&auto=format&fit=crop&q=60" alt="Image 3">
        <p class="boldtext">Furniture</p>
      </div>
      <div class="grid-item">
        <img src="https://images.unsplash.com/photo-1518977676601-b53f82aba655?w=700&auto=format&fit=crop&q=60
" alt="Image 4">
        <p class="boldtext">Groceries</p>
      </div>
    </section>
  </div>
  
  